$headingColor: #2f4f4f;
$buttonColor: #13a4a4;

body {
  font-family: sans-serif;
}

h1 {
  color: $headingColor;
  margin-bottom: 10px;
}

.nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: white;
  background-color: $buttonColor;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.nav .featured {
  background-color: orange;
}
